 <nav th:fragment="menu-principal" class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
 
        <a class="navbar-brand" th:href="@{/}">
        <img th:src="@{https://www.flaticon.es/svg/static/icons/svg/3205/3205476.svg}" width="80" height="60">&nbsp;EmpleosApp</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link active"  th:href="@{/}">Inicio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Acerca</a>
            </li>
            <li class="nav-item" sec:authorize="hasAnyAuthority('SUPERVISOR','ADMINISTRADOR')">
              <a class="nav-link" th:href="@{/vacantes/indexPaginado}">Vacantes</a>
            </li>  
            <li class="nav-item" sec:authorize="hasAnyAuthority('SUPERVISOR','ADMINISTRADOR')" >
              <a class="nav-link" th:href="@{/categorias/indexPaginado}">Categorias</a>
            </li>    
            <li class="nav-item" sec:authorize="hasAnyAuthority('SUPERVISOR','ADMINISTRADOR')">
              <a class="nav-link" th:href="@{/usuarios/index}">Usuarios</a>
            </li>       
          </ul>  
          <a class="btn bg-light text-dark" href="#">Ingresar</a>&nbsp;
          <a class="btn bg-light text-dark" href="#">Registrarse</a>&nbsp;
          <a class="btn bg-light text-dark" th:href="@{/logout}">Salir</a>
        </div>
</nav>